* {
    bg-col:  #00000088;
    transparent: #00000000;
    bg-col-light: #1e2229;
    border-col: #9f9f9f99;
    selected-col: #1e2229;
    blue: #aab2ec;
    green: #aaecad;
    magenta: #c1aaec;
    fg-col: #e3e3e3;
    fg-col2: #f8f8f8;
    grey: #38474a;
    width: 400;
}

